%br
%br

-# Display each list object with relevant options
- List.user(@user_id).each do |list|
  .listCon
    %p{class: "text"}= list.name
    .listButtons
      = form_tag listview_path, method: 'get' do
        =hidden_field_tag :list_id, list.id
        %input{type: "submit", value: t('.view'), class: "button1"}

      = button_tag(class: "iconButton", onclick: "removeList(" + String(list.id) + ", this)") do
        %i.fas.fa-trash

%br
%br

-# Flash message
= content_tag :div, content_tag(:p, params[:alert], class: "text"), id: "#{"alert"}"

-# Form for creating an new list
= form_tag new_lst_path, method: 'post', id: "newListForm", remote: true do
  = text_field_tag :name, "", class: "inputText", placeholder: t('.new'), oninput: "newListCheck(this)"
  %input{type: "submit", value: t('.add'), class: "button1", id: "newListSubmit", disabled: ""}

%br
%br
%br

-# Button to go to the contact us page
= form_tag contact_path, method: 'get' do
  %input{type: "submit", value: t('.contact'), class: "button1"}

%br
%br

-# Button to go back to login page
= form_tag root_path, method: 'get' do
  %input{type: "submit", value: t('.logout'), class: "button1"}