%h1{class: "mainTitle"}= t('.title')
%br

-# Buttons to toggle the login form and the new account form
.login
  .loginOptions
    %button.button1#loginButton{onclick: "showLoginForm();"}= t('.login_button')
    %button.button1#createButton{onclick: "showCreateForm();"}= t('.new_acc')

  %br

  -# Flash message
  - flash.each do |key, value|
    = content_tag :div, content_tag(:p, value, class: "text"), id: "#{key}" unless value.blank?

  -# Login in form with relevant validation
  = form_tag login_path, method: 'post', id: "loginForm", class: "loginForm" do
    = email_field_tag :email, "", required: true, class: "inputText", placeholder: t('.email')
    %br
    = password_field_tag :password, "", required: true, class: "inputText", placeholder: t('.password')
    %br
    %br
    %input.button1{type: "submit", value: t('.sign_in')}

  -# New account form with relevant validation
  = form_tag new_acc_path, method: 'post', id: "createForm", style: "display: none", class: "loginForm" do
    = text_field_tag :name, "", required: true, class: "inputText", placeholder: t('.name')
    %br
    = email_field_tag :email, "", required: true, class: "inputText", placeholder: t('.email')
    %br
    = password_field_tag :password, "", required: true, class: "inputText", placeholder: t('.password')
    %br
    %br
    %input.button1{type: "submit", value: t('.new_acc')}