-# Flash message
- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value, class: "text"), id: "#{key}" unless value.blank?

-#Contact page email/message form with appropriate validation
= form_tag sendmessage_path, method: 'post' do

  = email_field_tag :email, @email, required: true, pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", class: "inputText", placeholder: t('.email')
  %br
  = text_area_tag :message, "", required: true, class: "inputText", placeholder: t('.message')
  %br
  %input{type: "submit", value: t('.send'), class: "button1"}

  %br
  %br

-#Button to take user back to home page
= form_tag homepage_path, method: 'get' do
  %input{type: "submit", value: t('.back'), class: "button1"}