-# Display each product in the list, with relevant options and info
- Product.list(@list_id).each do |product|
  .prodCon
    %input{type: "text", class: "inputTextAlt", value: product.name, required: true, onchange: "updateProduct(this, " + String(product.id) + ", 'name')"}
    %input{type: "number", class: "inputTextAlt", style: "max-width: 100px", value: product.quantity, min: 1, onchange: "updateProduct(this, " + String(product.id) + ", 'quantity')"}
    %label.checkCon
      %input{type: "checkbox", class: "checkbox1", checked: ("" if product.acquired), onchange: "updateProduct(this, " + String(product.id) + ", 'acquired')"}
      %i.fas.fa-check.check

    = button_tag(class: "iconButton", onclick: "removeProd(" + String(product.id) + ", this)") do
      %i.fas.fa-trash

%br
%br

-# Form for creating a new product
= form_tag new_prod_path, method: "post", remote: true, id: "newProductForm" do
  = text_field_tag :name, "", required: true, class: "inputText", placeholder: t('.name')
  %br
  = number_field_tag :quantity, "", min: 1, class: "inputText", placeholder: t('.quantity')
  =hidden_field_tag :list_id, @list_id
  %input{type: "submit", value: t('.add'), class: "button1"}

%br
%br

-# Button to go back to homepage
= form_tag homepage_path, method: 'get' do
  %input{type: "submit", value: t('.back'), class: "button1"}